body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#header-text-col {
    height: 65vh;
    font-size:7vh;
    overflow: scroll;
    margin-top: 1vw;
    margin-left: 6vw;
    margin-right: 6vw;
    white-space: pre-line;
    color:dimgrey
}


#blue-button-row {
    height:10vh;
    align-items: center;
}

#blue-button {
    background-color: rgb(57, 206, 236);
    color:white;
    height: 10vh;
    width: 75vw;
    font-size: 3vh;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
    
}

#example-text-col {
    padding-top: 3vh;
    height:8vh;
    font-size: 3vh;
    color:rgb(57, 206, 236);
    font-weight: bold;
}

#helper-text-col {
    height:8vh;
    font-size: 3vh;
    color:rgb(57, 206, 236);
    font-weight: bold;
}

#GO-Reset-button {
    height:10vh;
    position:absolute;
    left: 71vw;
    bottom: 4vw;
}

#GO-RESET {
    border-radius: 50%;
    width: 22.5vw;
    height: 22.5vw;
    background-color: white;
    color: rgb(57, 206, 236);
    border-color: black;
    border-width: 1px;
    font-size: 3vh;
    font-weight: bold;
}

#reset-image {
    width: 5vh;
    height: 5vh;
    transform: scaleX(-1);
}